{% load custom_filters %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Allura&display=swap" rel="stylesheet">


    <!-- link with script tag for swiping the automatic card and icon bundle -->

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

    <!-- CSS -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css" />
    <!-- Default theme -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css" />


    <!-- external files for css and javascript -->
    <link rel="stylesheet" type="text/css" href="/static/css/rastyle.css">


    <script src="/static/js/jquery-3.7.1.min.js" defer></script>
    <script src="/static/js/checkout.js" defer></script>



    <title>BelleLoom</title>

</head>



<body>

    <header class="nav navbar-brand navbar-nav">
        <div class="title-logo text-center">
            <a href="{% url 'homepage' %}" class="text-decoration-none text-black">BelleLoom</a>
        </div>
    </header>

    <body class="bg-body-tertiary" cz-shortcut-listen="true">

        <div class="container">
            <main>
                <form class="needs-validation checkoutForm" action="{% url 'placeorder' %}" method="POST">
                    {% csrf_token %}
                    <div class="row g-5 mt-1">
                        <div class="col-md-5 col-lg-5 order-md-last">
                            <h4 class="d-flex justify-content-between align-items-center mb-3">
                                <span class="text-primary">Order Summary</span>
                                {% if cartitems %}


                                <span class="badge bg-primary rounded-pill">{{ cartitems|length }}</span>
                            </h4>

                            <ul class="list-group mb-3">
                                <li class="list-group-item d-flex justify-content-between lh-sm">
                                    <h6 class="my-0 px-1">Product</h6>
                                    <h6 class="my-0">Amount</h6>
                                </li>
                                {% for item in cartitems %}
                                <li class="list-group-item d-flex justify-content-between lh-sm">


                                    <div class="d-flex m-0">
                                        <img src="{{ item.product.Product_Image_Main.url }}" alt=""
                                            class="img-fluid col-lg-2 col-md-3 col-4 px-0">
                                        <div style="padding-left: 5px;">
                                            <p class="my-0 px-0 py-0">{{ item.product.Product_Name }}</p>
                                            <span class="product-price-span-with-quantity">Qty: {{ item.product_qty }} x
                                                ₹{{ item.product.Selling_Price | stringformat:"d"}}</span>
                                        </div>
                                    </div>


                                    <span class="text-body-secondary" style="font-size: 14px;">₹{{item.product.Selling_Price|multiply:item.product_qty|stringformat:"d"}}</span>

                                </li>
                                {% endfor %}
                                <!-- <li class="list-group-item d-flex justify-content-between bg-body-tertiary">
                                <div class="text-success">
                  <h6 class="my-0">Promo code</h6>
                  <small>EXAMPLECODE</small>
                </div>
                <span class="text-success">−$5</span>
            </li> -->
                                <li class="list-group-item d-flex justify-content-between">
                                    <span>Total (₹)</span>
                                    <strong>₹ {{ overall_total_price|stringformat:"d" }}</strong>
                                </li>
                                <input type="hidden" value="COD" name="payment_mode">
                                <div class="mt-2">
                                     <button type="submit" class="btn btn-success w-100">COD | Place Order</button>
                                </div>
                            </ul>



                            {% else %}
                            <h4>Your cart is empty</h4>

                            {% endif %}


                        </div>
                        <div class="col-md-7 col-lg-7">
                            <h4 class="mb-3">Billing address</h4>

                            <div class="row g-3">
                                <div class="col-sm-6">
                                    <label for="firstName" class="form-label">First name</label>
                                    <input type="text" value="{{ request.user.first_name }}" class="form-control" id="firstName" name="firstname" required>
                                </div>

                                <div class="col-sm-6">
                                    <label for="lastName" class="form-label">Last name</label>
                                    <input type="text" value="{{ request.user.last_name }}" class="form-control" id="lastName" name="lastname" required>
                                </div>

                                <div class="col-6">
                                    <label for="email" class="form-label">Email <span
                                            class="text-danger">*</span></label>
                                    <input type="email" value="{{ request.user.email }}"class="form-control" id="email" name="email" placeholder="you@example.com" required>
                                    <div class="invalid-feedback">
                                        Please enter a valid email address for shipping updates.
                                    </div>
                                </div>

                                <div class="col-6">
                                    <label for="Mobile" class="form-label">Mobile <span
                                            class="text-danger">*</span></label>
                                    <input type="tel" value="{{ userprofile.phone }}" class="form-control" id="mobile" name="phone" pattern="[1-9][0-9]{9}" required>
                                    <div class="invalid-feedback">
                                        Please enter a valid Mobile Number for shipping updates.
                                    </div>
                                </div>

                                <div class="col-12"> 
                                    <label for="address" class="form-label">Address</label>
                                    <input type="text" value="{{ userprofile.address1 }}" class="form-control" id="address" name="address1" placeholder="1234 Main St"
                                        required>
                                </div>

                                <div class="col-8">
                                    <label for="address2" class="form-label">Address 2 <span
                                            class="text-body-secondary">(Optional)</span></label>
                                    <input type="text" value="{{ userprofile.address2 }}" class="form-control" id="address2" name="address2"
                                        placeholder="Apartment or suite">
                                </div>

                                <div class="col-md-4 col-4">
                                    <label for="country" class="form-label">Country</label>
                                    <select class="form-select" id="country" name="country" value="{{ userprofile.country }}" required>
                                        <option value="">Choose...</option>
                                        <option>India</option>
                                    </select>
                                </div>


                                <div class="col-md-4">
                                    <label for="state" class="form-label">State</label>
                                    <select class="form-select" id="state" name="state" value="{{ userprofile.state }}" required>
                                        <option value="">Choose...</option>
                                        <option>Uttar Pradesh</option>
                                    </select>
                                </div>

                                <div class="col-md-4">
                                    <label for="city" class="form-label">City</label>
                                    <input type="text" class="form-control" id="city" name="city" value="{{ userprofile.city }}" required>
                                </div>

                                <div class="col-md-4">
                                    <label for="pincode" class="form-label">Pin Code</label>
                                    <input type="text" class="form-control" id="pincode" name="pincode" value="{{ userprofile.pincode }}" required>
                                    <div class="invalid-feedback">
                                        Pin Code required.
                                    </div>
                                </div>
                            </div>

                            <hr class="my-4">

                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="same-address">
                                <label class="form-check-label" for="same-address">Shipping address is the same as my
                                    billing address</label>
                            </div>

                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="save-info">
                                <label class="form-check-label" for="save-info">Save this information for next
                                    time</label>
                            </div>

                            <!-- <hr class="my-4">

                            <h4 class="mb-3">Payment</h4>

                            <div class="my-3">
                                <div class="form-check">
                                    <input id="credit" name="paymentMethod" type="radio" class="form-check-input"
                                        checked="" required>
                                    <label class="form-check-label" for="credit">Credit card</label>
                                </div>
                                <div class="form-check">
                                    <input id="debit" name="paymentMethod" type="radio" class="form-check-input"
                                        required>
                                    <label class="form-check-label" for="debit">Debit card</label>
                                </div>
                                <div class="form-check">
                                    <input id="paypal" name="paymentMethod" type="radio" class="form-check-input"
                                        required>
                                    <label class="form-check-label" for="paypal">PayPal</label>
                                </div>
                            </div>

                            <div class="row gy-3">
                                <div class="col-md-6">
                                    <label for="cc-name" class="form-label">Name on card</label>
                                    <input type="text" class="form-control" id="cc-name" placeholder="" required>
                                    <small class="text-body-secondary">Full name as displayed on card</small>
                                    <div class="invalid-feedback">
                                        Name on card is required
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <label for="cc-number" class="form-label">Credit card number</label>
                                    <input type="text" class="form-control" id="cc-number" placeholder="" required>
                                    <div class="invalid-feedback">
                                        Credit card number is required
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <label for="cc-expiration" class="form-label">Expiration</label>
                                    <input type="text" class="form-control" id="cc-expiration" placeholder=""
                                        required>
                                    <div class="invalid-feedback">
                                        Expiration date required
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <label for="cc-cvv" class="form-label">CVV</label>
                                    <input type="text" class="form-control" id="cc-cvv" placeholder="" required>
                                    <div class="invalid-feedback">
                                        Security code required
                                    </div>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </form>
            </main>

        </div>

    </body>

    {% include "footer.html" %}