{% extends "base.html" %}

{% block section %}
<head>
    <script src="/static/js/custom.js" defer></script>
</head>
<section>
    
        {% if wishlistitems %}
        <h4 class="container mt-3">Your <i class="fa-regular fa-heart" style="color: red;"></i> Wishlist</h4>
    <div class="card-body-of-cart">
        {% for item in wishlistitems %}


        <div class="container cart-data-section product-data  wishlist-item">           <!-- product-data class is used when we fetch the quantity and id in jqery code. so it can find the nearest class of decrement and increment button -->
            <div class="left-card-cart-section">
                <img src="{{ item.product.Product_Image_Main.url }}" alt="">

            </div>
            <div class="right-card-cart-section">
                <div class="cart-product-specification">
                    <div>
                        <h6>{{ item.product.Product_Name| truncatechars:37}}</h6>
                        <span>Size: 1</span><br>
                    </div>
                    <!-- <i class="fa fa-star" style="color: orange;font-size: 11px;"></i>
                    <i class="fa fa-star" style="color: orange;font-size: 11px;"></i>
                    <i class="fa fa-star" style="color: orange;font-size: 11px;"></i>
                    <i class="fa fa-star" style="color: orange;font-size: 11px;"></i>
                    <i class="fa fa-half-star-o" style="color: orange;font-size: 11px;"></i> -->
                    

                </div>
                <span class="cart-price-display-none-for-laptop-block-for-phone text-secondary mt-4 pt-4">
                    <span class="fs-5" style="color: rgb(60, 59, 59);font-weight: 500;"><sup style="font-size: 12px;">₹</sup>{{ item.product.Selling_Price | stringformat:"d"}}</span>
                </span> 
                <div>
                    
                </div>
                <div class="price-cart-section">
                    <span style="padding-left: 0.7vw;">PRICE</span>
                    <h5>₹ {{ item.product.Selling_Price | stringformat:"d" }}</h5>    <!-- string format method is use for showing the price without decimal like 500 instead of 500.99 -->

                </div>
                <div class="quantity-half-section">
                    <div>
                        <button class="btn btn-outline-danger cart-price-display-none-for-laptop-block-for-phone mb-2 mt-2 delete-wishlist-item"><i class="fa-solid fa-trash-can"></i></button>
                    </div>

                    <input type="hidden" value="{{ item.product_id }}" class="prod_id">
                    {% csrf_token %}

                    <a href="{% url 'productview' item.product.category.slug item.product.slug %}" class="btn btn-primary wishlist-viewbutton"> 
                        <i class="fa-solid fa-eye"></i>  View Product
                    </a>
                    
                </div>
                
                <div class="remove-button-cart-section">
                    <button type="button" class="btn btn-danger delete-wishlist-item"><i class="fa-solid fa-trash-can"></i> Remove</button>
                </div>
            </div>
        </div>
        {% endfor %}

        {% else %}
        <h4 class="text-center container" style="background-color: rgb(208, 206, 206); padding: 10px; margin: 8vw auto;">Your Wishlist is empty</h4>

        {% endif %}

    </div>

</section>



{% endblock %}